<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="BittersweetTreats.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/FudgeStory.js"></script>
  <title>Bittersweet Treats</title>
  <splash src="Images/Splash.png" />
</head>

<body>
  <scene>
    <canvas></canvas>

    <speech>
      <name></name>
      <content></content>
    </speech>
    <div type="interface">
      <input id="scoreForCeleste" type="text" value="Celeste" disabled>
      <!-- für value der Skala; Füllung -->
      <meter id="celesteMeter" name="celesteScore" min="0" max="200" disabled></meter>
    </div>
    
    <dialog type="text">
      The content of a page of text for reading
    </dialog>
    <dialog type="gameMenu">
     
    </dialog>
    
  </scene>
  <dialog type="splash" open>
    <img id="FudgeStoryLogo" theme="light" /> <!-- use "light" or "dark" -->
    <p>
      Design your splash screen here. Reposition and rescale the logo above, but do not remove.
    </p>
  </dialog>
</body>

</html>