
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  /* font-family: "Segoe UI", Arial; */
  /* font-weight: normal; */
  /* font-size: 2.3vmin; */
  /* color: rgb(240, 18, 103); */
  /* user-select: none; */
}

canvas {
  width: 100%;
  height: 100%;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;

}

#FudgeStoryLogo {
  display: block;
  margin-top: 5px;
  margin-left: 10px;
  width: 35%;
  border: 1px solid transparent;
  border-radius: 50px;

}

#NovelTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 9%;
}

 dialog[type=splash] { 
  width: 100vw;
  height: 100vh;
  background-color: #ece0d1;
  color: black;
  border: none;
  text-align: center;
}

#TextMenu {
  margin-top: 5%;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 1.3vw;
  color: rgb(56, 34, 15, .9);
}



speech {
  position: absolute;
  bottom: 3%;
  left: 9%;
  font-family: Trebuchet MS, Arial, sans-serif;
  border: 1px solid transparent;
  border-radius: 10px;
  background: rgb(56, 34, 15, .9);
  width: 80%;
  height: 12%;
}

speech name {
  font-size: 3vh;
  display: block;
  color: #ece0d1;
  margin: 5px 0px 10px 10px;
}

speech content {
  font-size: 2.4vh;
  color: #ece0d1;
  display: block;
  margin-left: 10px;
}


.menuButtons {
  position: absolute;
  border: none;
  border-radius: 20px;
  background-color: #967259;
}

.menuButtons button {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding-right: 10px;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 1.9vh;
  color: #ece0d1;
  background-color: #967259;
}

.menuButtons button:hover {
  box-shadow: 0 0 20px rgba(26, 25, 25, 0.2);
}

.choicesDrinks {
  border: none;
  border-radius: 20px;
  background-color: #AD8B73;

}

.choicesDrinks button {
  border: none;
  cursor: pointer;
  padding: 5px 18px;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 2.8vh;
  color: #ece0d1;
  background-color: #AD8B73;
}

.choicesDrinks button:hover {
  color: rgb(56, 34, 15, .9);
}


meter::-webkit-meter-bar { /*webkit ist für chrome */
  background-color: white;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

meter[id="celesteMeter"] {
  position: absolute;
  transform:rotate(-90deg);
  bottom: 50%;
  left: -12%;
  width: 35%;
  height: 10%;
}

meter[id="celesteMeter"]::-webkit-meter-optimum-value {
  background-color: #B68973;
}

dialog.NovelPages {
  border: 2px solid #ece0d1;
  border-radius: 15px;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 2.1vh;
  color: #ece0d1;
  background-color: #967259;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

