html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family: "Segoe UI", Arial;
  font-weight: normal;
  font-size: 2.3vmin;
  color: rgb(240, 18, 103);
  user-select: none;
}
scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}
canvas {
  width: 100%;
  height: 100%;
}

dialog[type="splash"] {
  background-image: url("Images/Backgrounds/space.jpg"); 
  width: 97%;
  height: 100%;
}

dialog[type="splash"] > p {
  font-size: 2vmin;
  color: black;
  text-align: center;
}

#FudgeStoryLogo {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

 /* dialog[type=splash] { 
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: white(0, 0, 0);
  color: black;
  border: none;
  cursor: pointer;
  text-align: center;
} */
/* dialog[type=splash]>img#FudgeStoryLogo {
  
  
  width: 50%;

} */
speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgb(94, 94, 94);

  width: 100%;
  height: 13%;
}


speech content {
  color: rgb(255, 255, 255);
  font-size: 1em;
  position: absolute;
  left: 10px;
}

name {
  font-size: 1.6em;
  display: block;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-left: 5px;
}

/* .choicesCSSClass {
  width: 300px;
  padding: 20px;
  
 
} */

meter::-webkit-meter-bar { /*webkit ist für chrome */
  background-color: #ececec;
}

meter[id="celesteMeter"] {
  position: absolute;
  transform:rotate(-90deg);
  bottom: 50%;
  left: -14%;
  width: 35%;
  height: 10%;
}

meter[id="celesteMeter"]::-webkit-meter-optimum-value {
  background-image: linear-gradient(
    90deg,  
    #a0e2f3 50%,
    /* #f28f68 100%,
    #cf82bf 150%,
    #719fd1 200% */
  );
  /* background-color: #719fd1; */
}

